.SidebarMenu {
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: #000000;
    float: left;
    overflow-x: auto;
  }
.Logo {
    height: 100px;
    width: 150px;
    padding-left: 35px;
  }
.Sidebar{
  float: left;
}