
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body{
  background-color: #EFEFEF;
}


.Kmasuk{
  background-color: #3C9E3F;
  margin-left: 220px;
  margin-top: 80px;
  width: 170px;
  height: 100px;
  float: left;
  border-radius: 10px;
  position: fixed;
}

.Kkeluar{
  background-color: #FF2D2D;
  margin-left: 410px;
  margin-top: 80px;
  width: 170px;
  height: 100px;
  float: left;
  border-radius: 10px;
  position: fixed;
}

.Dash{
  margin-top: 200px;
  margin-left: 210px;
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
  background-color: white;
  width: 83%;
  height: 400px;
  float: left;
  position:fixed;
  
}


.Dashboard,
.ArsipS,
.DArsip,
.TArsip,
.HLihat,
.HUnduh{
  margin-top: 0;
  margin-left: 200px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  background-color: #E6E6E6;
  width: 100%;
  height: 50px;
  float: left;
  position: fixed;

}

.tabledashboard-container{
  margin-top: 10px;
  
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
  background-color: white;
  width: 81%;
  max-height: 300px;
  float: left;
  position: fixed;
  overflow-y:scroll;
  overflow-x:scroll;
}

.tabledashboard {
  margin-top: 10px;
  width: 1000px;
  position: relative;
  
}



/*Surat Compose */

.SuratC{
  margin-top: 0;
  margin-left: 200px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  background-color: #E6E6E6;
  width: 100%;
  height: 50px;
  float: left;
  position: fixed;
}

.FormC{
  margin-top: 70px;
  margin-left: 210px;
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
  background-color: white;
  width: 83%;
  height: 400px;
  float: left;
  position: fixed;
  
}



.FormC p{
  padding: 10px;

}

.FormC table td {
  padding: 10px;

}




/*Data Surat */
.DSurat{
  margin-top: 0;
  margin-left: 200px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  background-color: #E6E6E6;
  width: 100%;
  height: 50px;
  float: left;
  position: fixed;
}

.Search{
  margin-top: 70px;
  margin-left: 200px;
  padding-left: 22px;
  float: left;
  position: fixed;
}

.table-container{
  margin-top: 120px;
  margin-left: 210px;
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
  background-color: white;
  width: 81%;
  height: 400px;
  float: left;
  position: fixed;
  
}

.tablesurat {
  margin-top: 10px;
}

/*Buat Email */
.BEmail{
  margin-top: 0;
  margin-left: 200px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  background-color: #E6E6E6;
  width: 100%;
  height: 50px;
  float: left;
  position: fixed;
}

.FormEmail{
  margin-top: 70px;
  margin-left: 210px;
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
  background-color: white;
  width: 83%;
  height: 400px;
  float: left;
  position: fixed;
  
}

.FormEmail p{
  padding: 15px;

}

.FormEmail table td {
  padding: 15px;

}


/* SPK */
.SPK{
  margin-top: 0;
  margin-left: 200px;
  padding-left: 15px;
  padding-top: 1px;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  background-color: #E6E6E6;
  width: 100%;
  height: 50px;
  float: left;
  position: fixed;
}

.FormSPK{
  margin-top: 50px;
  margin-left: 200px;
  padding:10px 15px;
  text-align: left;
  background-color: white;
  width: calc(100% - 200px);
  height: calc(100% - 50px);
  float: left;
  position: fixed;
  overflow-y: scroll;
  
}

.FormSPK p{
  padding: 8px;

}

.FormSPK table td {
  padding: 8px;

}
/*SPK ADD */

.SPKADD{
  margin-top: 0;
  margin-left: 200px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  background-color: #E6E6E6;
  width: 100%;
  height: 50px;
  float: left;
  position: fixed;
 
}

.FormSPKADD{
  margin-top: 70px;
  margin-left: 210px;
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
  background-color: white;
  width: 81%;
  height: 520px;
  float: left;
  position: fixed;
  overflow-y:scroll;
  
}

.FormSPKADD p{
  padding: 6.5px;

}

.FormSPKADD table td {
  padding: 6.5px;

}


/*Data Email */
.DEmail{
  margin-top: 0;
  margin-left: 200px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  background-color: #E6E6E6;
  width: 100%;
  height: 50px;
  float: left;
  position: fixed;
}

.Search1{
  margin-top: 80px;
  margin-left: 210px;
  float: left;
  position: fixed;
}

.tableemail-container{
  margin-top: 120px;
  margin-left: 210px;
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
  background-color: white;
  width: calc(100% - 220px);
  height: calc(100% - 150px);
  float: left;
  position: fixed;
  overflow-y: scroll;
  overflow-x: scroll;
  
}

.tablesuratemail {
  margin-top: 10px;
}

/*Jenis Email */
.JEmail{
  margin-top: 0;
  margin-left: 200px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  background-color: #E6E6E6;
  width: 100%;
  height: 50px;
  float: left;
  position: fixed;
}
.Search2{
  margin-top: 70px;
  margin-left: 200px;
  float: left;
  position: fixed;
}

.Tambah1{
  margin-top: 10px;
  margin-left: 12px;
  width: 70px;
  height: 25px;
  
}

.jenis-email-container{
  margin-top: 120px;
  margin-left: 210px;
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
  background-color: white;
  width: 81%;
  height: 400px;
  float: left;
  position: fixed;
  
}

.jenis-suratemail {
  margin-top: 10px;
}


/*jenis email tambah */
.JEmailt{
  margin-top: 0;
  margin-left: 200px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  background-color: #E6E6E6;
  width: 100%;
  height: 50px;
  float: left;
  position: fixed;
}

.Jenis-Email{
  margin-top: 70px;
  margin-left: 210px;
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
  background-color: white;
  width: 83%;
  height: 400px;
  float: left;
  position: fixed;
  
}

.Jenis-Email p{
  padding: 15px;

}

.Jenis-Email table td {
  padding: 15px;

}

.TAkun{
  margin-top: 0;
  margin-left: 200px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  background-color: #E6E6E6;
  width: 100%;
  height: 50px;
  float: left;
  position: fixed;
}

.tambah-akun{
  margin-top: 70px;
  margin-left: 210px;
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
  background-color: white;
  width: 83%;
  height: 430px;
  float: left;
  position: fixed;
  
}



.tambah-akun table td {
  padding: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.tabledashboard {
 font-family: Segoe UI;
 color: #444;
 border-collapse: collapse;
}

.tabledashboard thead th{
  padding: 8px 30px;
  background: #6495ED;
  color: #fff;
  font-weight: normal;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: #444;
}

.tabledashboard tr td{
  padding: 8px 20px;
  width: 100px;
  text-align: left;
}

.tabledashboard tr:hover{
  background-color: #f5f5f5;
}

.tabledashboard tr:nth-child(even) {
  background-color: #e7e5e5;
}

.react-tags {
  position: relative;
  padding: 6px 0 0 6px;
  border: 1px solid #D1D1D1;
  border-radius: 1px;

  /* shared font styles */
  font-size: 1em;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags.is-focused {
  border-color: #B1B1B1;
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: 6px 8px;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  background: #F1F1F1;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__selected-tag:after {
  content: '\2715';
  color: #AAA;
  margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: #B1B1B1;
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px;
  margin-bottom: 6px;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {

  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }

}

.react-tags__search-input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search-input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 30em) {

  .react-tags__suggestions {
    width: 240px;
  }

}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}
.clicklogout{
  position: absolute;
  left: 50%;
  top: 80%;
}