.LoginForm {
    text-align: center;
    height: 100 hv;
    align-items: center;
    justify-content: center;

}

.form-login {
    display: block;
    position: relative;
}

.BGBG {
    background-image: url(../Img/UNTAR2.png);
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    width: 550px;
    height: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}



.background {
    border-radius: 15px 0 0 15px;
    background-image: url('../Img/fotoadmin.jpeg');
    background-size: cover;
    width: 225px;
    height: 330px;
    position: absolute;
    left: 0;
    top: 0;
}

.form-login:after {
    content: '';
    display: block;
    position: absolute;
}

.form-login .form-inner {
    border-radius: 0 15px 15px 0;
    width: 325px;
    height: 330px;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.form-login .form-inner h2 {
    color: #0c0c0c;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 40px;
}

.form-login .form.inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label {
    display: block;
    color: #666;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label {
    color: #000000;
}

.form-login .form-inner .form-group input {
    display: block;
    width: 250px;
    height: 25px;
    background-color: #f4f1f1;
    border-radius: 8px;
    transition: 0.4s;
    margin-bottom: 40px;
    margin-top: 10px;
}

.form-login .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.form-login .form-inner input[type="submit"] {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: white;
    box-shadow: #666;
}

.form-group {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}